{{ attach_library('nomadmodule/cats-style') }}
{{ attach_library('core/drupal.dialog.ajax') }}

<div class="row">
  <h5>{{ markup }}</h5>
  <div class="col-12">
    {{ form }}
  </div>
</div>
  {% for item in items %}
  <div class="dboutput_wrapper row">
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 cats_image">
      <a href="{{ item.image }}" target="_blank">
        <img src='{{ item.image }}' alt="Photo of a cat, that takes a part in pets competition event">
      </a>
    </div>
    <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 cats">
      <div>
        <p>{{ "Pet name:"|trans }}</p>
        <p class="cats_name"> {{ item.name }}</p>
        <br>
        <p>{{ "User email:"|trans }}</p>
        <p class="cats_email"> {{ item.email }}</p>
        <br>
        <p>{{ "Created:"|trans }}</p>
        <p class="cats_created"> {{ item.created }}</p>
        {% if user.hasPermission('administer nodes') %}
          <br>
          <span class="rm_btn">
            <a href="/admin/nomadmodule/delete/{{ item.id }}?destination={{ root }}" class="rm_button use-ajax" data-dialog-type="modal">{{ "remove"|trans }}</a>
            <a href="/admin/nomadmodule/update/{{ item.id }}?destination={{ root }}" class="edit_button">{{ "edit"|trans }}</a>
          </span>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}


